.about {
    background: #145c74;
    padding: 2rem;
    margin-top: 8rem;;
    max-width: 80%;
    justify-content: center;
  }
  
  .about h2 {
    color: white;
  }

  .about p {
    color: white;
  }

.about .skills {
  padding-bottom: 4rem;
}
