.about {
    background: #145c74;
    margin-top: 4rem;
    padding-left: 2rem;
    width: 80%
}
  
.about h2 {
  color: #faf6e9;
}

.about p {
  color: #faf6e9;
}

.about .skills {
  padding-bottom: 4rem;
}
