.Work {
  background-color: #568a82;
  margin-top: 4rem;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.card-container {
  position: relative;
  justify-content: center;
  margin-top: 4rem;
  width: 36rem;
  height: 36rem;
}

.card-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #88a0a8;
}

.card-container svg:hover {
  cursor: pointer;
  color: #145c74;
}

.card {
  position: absolute;
  height: 30rem;
  width: 20rem;
  margin: 1rem;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  color: #083e50;
}

.card img {
  height: 15rem;
  width: 20rem;
  object-fit: cover;
  object-position: top;
  pointer-events: none;
}

.card p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card a {
  padding: 2rem;
}

.card .links {
  background-color: #86cae0;
  padding: 1rem;
}

.prevCard {
  left: calc(0% + 2rem);
  opacity: 0;
}

/* centers card to itself */
.activeCard {
  left: 20%;
  transform: traslateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
}

.leftBtn {
  left: -1rem;
}

.rightBtn {
  right: -1rem;
}


