body {
  margin: 0;
  font-family: 'Candara', 'Optima', 'Geneva', sans-serif;
  background-color: #145c74;
  color: #faf6e9;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #203842;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer a {
  padding-left: 1rem;
}
