.header {
  background: #ffe082;
  height: 200px;
  text-align: center;
  color: black;
}

.header h1 {
  margin: 0;
  padding-top: 50px;
  font-size: 3rem;
}

.header h3 {
  margin: 0;
  padding-bottom: 75px;
}